

body{
  position: relative;
  padding-bottom: 200px;
}

/* Bg Header */
.bg-opa{
  background-color: rgba(0, 0, 0, .3);
}
.banner{
  background-image: url(../assets/bannerCursos.webp);
  height: 122px;
  background-position: 30% 40%;
}
/* Color a nav */
.nav-link{
  color: #fff;
  font-family: 'lato', sans-serif;
}
/* Carousel img */
.h-100vh{
  height: 100vh;
}

/* Card Styles */
.card{
  border-radius: 20px;
}

.card img{
  margin-top: 10px;
  border-radius: 20px;
}


.btn-color{
  background-color: #3352a8;
  color: aliceblue;
  transition: all .5s;
}

.btn-color:hover{
  background-color: #b7dbf7;
  transform:scale(.9);
  color: #3352a8;
  border-color: #3352a8;
}

/* Contacto styles  */


/* NOTA: No llegue con el tiempo asi que despues lo sigo, sino se me rompe todo. */

.contacto{
  background-color: #3e4042;
  padding-bottom: 80px;
}

.contacto h2{
  margin-bottom: 3rem;
}

/* #contactForm input{
   margin-bottom: 30px;
  margin: 10px;
  width: 350px;
  height: 50px;
}

textarea{
  height: 130px;
  width: 550px;
  border-radius: 10px;
}
*/
.btn-rounded{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}  

/* Footer Styles */

footer{
  width: 100%;
  background-color: #27292B;
  height: 100px;
  position: absolute;
  bottom: 0;
}

footer a{
  text-decoration: none;
  color: #fff;
}

.bi-whatsapp:hover{
  color: #25D366;
}

.bi-instagram:hover{
  color: #8a3ab9;
}

.bi-facebook:hover{
  color: #3b5998;
}


/* Cursos Styles */

/* Section cursos kids */

.kidsTitle h1{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

.kidsP{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333;


}

.kidsImg img{
  width: 25em;
  height: 15em;
}

.kidsImg{
  width: 100%;
}













@media (max-width: 400px) { 

  textarea{
    max-width: 100% ;
  }

  .contacto h2{
    font-size: 20px;
  }

  #contactForm input{
    width: 100px;
  }


  .kidsImg img{
    width: 17em;
    height: 10em;
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  .kidsImg{
    margin-bottom: 5px;
  }

}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  textarea{
    width: 250px;
  }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 


 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

 }